
.grid-container {
  display: grid;
  height: 400px;
  width: 400px;
  border: 1px solid rgb(156, 156, 156);
}

.grid-item {
  border: 1px solid rgb(156, 156, 156);
}

.hovered-item {
  background-color: blue;
}